html {
    font-family: Helvetica, sans-serif;
    font-size: 20px
}

.container {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    max-width: 15vw;
    height: 35rem;
    margin: 2rem 4rem;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    padding: 12px;
}

.H {
    order: 10;
}

.e {
    order: 2;
}

.T {
    order: 11;
}

.a {
    order: 4;
}

.c {
    order: 8;
}

.i {
    order: 7;
}

.m {
    order: 3;
}

.n {
    order: 5;
}

.t {
    order: 6;
}

.L {
    order: 13;
}

.S {
    order: 1;
}

.M {
    order: 12;
}